:root {
    --primary-color: #00AA00;
    --primary-color--hover: rgba(21, 228, 48, 0.2);
    --white-color: #fff;
    --black-color: #333;
    --text-color: #000;
    --boder-color: #dbdbdb;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal__body {
    background-color: var(--white-color);
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 5px;
}

.auth-form__controls {
    margin-top: 80px;
}

/* Button style */
.btn {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: #fff;
}